<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.omahdilit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/noActionBarWhite"
        android:usesCleartextTraffic="true">
        <activity android:name=".DetailPesanan"></activity>

        <service
            android:name=".notification.FirebaseMessaging"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".PilihPromo" />

        <meta-data
            android:name="com.google.android.geo.api_key"
            android:value="@string/API_Maps" />

        <activity android:name=".Promo" />
        <activity
            android:name=".DetailPromo"
            android:parentActivityName=".Promo"
            android:theme="@style/TransparentStatusbar" />
        <activity android:name=".DetailPilihModel" />
        <activity android:name=".PilihModelRambut" />
        <activity android:name=".KonfirmasiPesanan" />
        <activity
            android:name=".EditProfil"
            android:label=""
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Riwayat"
            android:label=""
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PilihTukangCukur"
            android:label=""
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailModel"
            android:label=""
            android:parentActivityName=".ModelRambut" />
        <activity
            android:name=".ModelRambut"
            android:label=""
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/noActionBar" />
        <activity android:name=".Intro" />
        <activity android:name=".Login" />
        <activity
            android:name=".SplashScreen"
            android:hardwareAccelerated="false"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>